In [1]:
!pip install nltk
!pip install gensim

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
     |████████████████████████████████| 1.5MB 1.5MB/s eta 0:00:01
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from nltk) (1.12.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-cp37-none-any.whl size=1449907 sha256=d2a4aadede89b5667d9f93cbfa43df6188b93baf9f9dacf3cbaedd26bb4a53d2
  Stored in directory: /home/jovyan/.cache/pip/wheels/96/86/f6/68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.4.5
Collecting gensim
  Downloading https://files.pythonhosted.org/packages/44/93/c6011037f24e3106d13f3be55297bf84ece2bf15b278cc4776339dc52db5/gensim-3.8.1-cp37-cp37m-manylinux1_x86_64.whl (24.2MB)
     |████████████████████████████████| 24.2MB 4.6MB/s eta 0:00:01     |███████████████████▉            | 15.0MB 4.5MB/s eta 0:00:03     |█████████████████████▊          | 16.4MB 4.5MB/s eta 0:00:02     |█████████████████████████████▏  | 22.1MB 5.2MB/s eta 0:00:01
Collecting smart-open>=1.8.1 (from gensim)
  Downloading https://files.pythonhosted.org/packages/0c/09/735f2786dfac9bbf39d244ce75c0313d27d4962e71e0774750dc809f2395/smart_open-1.9.0.tar.gz (70kB)
     |████████████████████████████████| 71kB 2.0MB/s eta 0:00:01
Requirement already satisfied: six>=1.5.0 in /opt/conda/lib/python3.7/site-packages (from gensim) (1.12.0)
Requirement already satisfied: scipy>=0.18.1 in /opt/conda/lib/python3.7/site-packages (from gensim) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in /opt/conda/lib/python3.7/site-packages (from gensim) (1.17.2)
Collecting boto>=2.32 (from smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/23/10/c0b78c27298029e4454a472a1919bde20cb182dab1662cec7f2ca1dcc523/boto-2.49.0-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 3.8MB/s eta 0:00:01
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from smart-open>=1.8.1->gensim) (2.22.0)
Collecting boto3 (from smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/7f/4f/880cb8ed7856bc6f7b1488210259bbd1155c68d3f0a972b0c90b54205e44/boto3-1.10.14-py2.py3-none-any.whl (128kB)
     |████████████████████████████████| 133kB 4.2MB/s eta 0:00:01
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->smart-open>=1.8.1->gensim) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->smart-open>=1.8.1->gensim) (1.25.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->smart-open>=1.8.1->gensim) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->smart-open>=1.8.1->gensim) (3.0.4)
Collecting botocore<1.14.0,>=1.13.14 (from boto3->smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/87/7b/9164e0fd67ced4919131f2bdf3507589a0059f9033feda92b83cc36dae71/botocore-1.13.14-py2.py3-none-any.whl (5.4MB)
     |████████████████████████████████| 5.4MB 4.7MB/s eta 0:00:01     |██████▍                         | 1.1MB 4.1MB/s eta 0:00:02     |███████████████████████████████▌| 5.3MB 4.7MB/s eta 0:00:01
Collecting s3transfer<0.3.0,>=0.2.0 (from boto3->smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/16/8a/1fc3dba0c4923c2a76e1ff0d52b305c44606da63f718d14d3231e21c51b0/s3transfer-0.2.1-py2.py3-none-any.whl (70kB)
     |████████████████████████████████| 71kB 3.5MB/s eta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1 (from boto3->smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /opt/conda/lib/python3.7/site-packages (from botocore<1.14.0,>=1.13.14->boto3->smart-open>=1.8.1->gensim) (2.8.0)
Collecting docutils<0.16,>=0.10 (from botocore<1.14.0,>=1.13.14->boto3->smart-open>=1.8.1->gensim)
  Downloading https://files.pythonhosted.org/packages/22/cd/a6aa959dca619918ccb55023b4cb151949c64d4d5d55b3f4ffd7eee0c6e8/docutils-0.15.2-py3-none-any.whl (547kB)
     |████████████████████████████████| 552kB 4.0MB/s eta 0:00:01
Building wheels for collected packages: smart-open
  Building wheel for smart-open (setup.py) ... done
  Created wheel for smart-open: filename=smart_open-1.9.0-cp37-none-any.whl size=73088 sha256=b530feb9aaf005696d1a1d9c2326ba72dcee9a729f82e01d529c49f5dcafde62
  Stored in directory: /home/jovyan/.cache/pip/wheels/ab/10/93/5cff86f5b721d77edaecc29959b1c60d894be1f66d91407d28
Successfully built smart-open
Installing collected packages: boto, jmespath, docutils, botocore, s3transfer, boto3, smart-open, gensim
Successfully installed boto-2.49.0 boto3-1.10.14 botocore-1.13.14 docutils-0.15.2 gensim-3.8.1 jmespath-0.9.4 s3transfer-0.2.1 smart-open-1.9.0

In [1]:
import pandas as pd
import numpy as np
import sklearn
import nltk
import re
import string
import pickle
from os import path
import gensim

In [2]:
data = pd.read_csv('~/work/data/ted-talks/transcripts.csv')
metadata = pd.read_csv('~/work/data/ted-talks/ted_main.csv')

In [3]:
data[:5]

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

In [4]:
metadata[:5]

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [5]:
data = data.join(metadata.set_index('url'), on='url')

In [6]:
data[data.transcript.isna()]

Empty DataFrame
Columns: [transcript, url, comments, description, duration, event, film_date, languages, main_speaker, name, num_speaker, published_date, ratings, related_talks, speaker_occupation, tags, title, views]
Index: []

In [7]:
data[:5]

,transcript,url,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,views
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,47227110
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,3200520
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,1636292
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,1697550
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,12005869

In [8]:
print("The attributes in the first dataset\n")
for col in data.columns:
    print(col)

The attributes in the first dataset

transcript
url
comments
description
duration
event
film_date
languages
main_speaker
name
num_speaker
published_date
ratings
related_talks
speaker_occupation
tags
title
views

In [10]:
tag2idx = {}
i=0
talktags = [re.sub('\'','',taglist)[1:-1].split(', ') for taglist in data['tags'].values]
for taglist in talktags:
    for tag in taglist:
        if tag not in tag2idx:
            tag2idx[tag] = i
            i += 1

In [12]:
data['transcript']

0       Good morning. How are you?(Laughter)It's been ...
1       Thank you so much, Chris. And it's truly a gre...
2       (Music: "The Sound of Silence," Simon & Garfun...
3       If you're here today — and I'm very happy that...
4       About 10 years ago, I took on the task to teac...
                              ...
2462    So, Ma was trying to explain something to me a...
2463    This is a picture of a sunset on Mars taken by...
2464    In my early days as a graduate student, I went...
2465    I took a cell phone and accidentally made myse...
2466    We humans are becoming an urban species, so ci...
Name: transcript, Length: 2467, dtype: object

In [13]:
data['transcript'] = data['transcript'].apply(lambda x: re.sub(r'\((.*?)\)', ' ', x))

In [14]:
def remove_punctuation(text):
    no_punc_text = [c  if c not in string.punctuation else ' ' for c in text]
    return no_punc_text

In [17]:
data['transcript'] = data['transcript'].apply(lambda x: nltk.tokenize.RegexpTokenizer(r'\w+').tokenize(x.lower()))

In [18]:
def remove_stopwords(text):
    sw_text = [w for w in text if w not in nltk.corpus.stopwords.words('english')]
    return sw_text

In [20]:
nltk.download('stopwords')
data['transcript'] = data['transcript'].apply(lambda x: remove_stopwords(x))

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
import nltk
nltk.download('wordnet')
from nltk.corpus import wordnet

def lemmatize(text):
    lem_text = [wordnet.morphy(w) if wordnet.morphy(w) else w for w in text]
    return lem_text

[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [22]:
nltk.download('wordnet')
data['transcript'] = data['transcript'].apply(lambda x: lemmatize(x))

[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
data['transcript'] = data['transcript'].apply(lambda x: ' '.join(x))

In [24]:
def sent_to_words(x):
        return gensim.utils.simple_preprocess(str(x), deacc=True)
    
data['transcript'] = data['transcript'].apply(lambda x: ' '.join(sent_to_words(x)))

In [25]:
data['transcript']

0       good morning great blow away whole thing fact ...
1       thank much chris truly great honor opportunity...
2       hello voice mail old friend call tech support ...
3       today happy hear sustainable development save ...
4       years ago take task teach global development s...
                              ...
2462    try explain something grandma grow pay attenti...
2463    picture sunset mars take nasa curiosity rover ...
2464    early days graduate student go snorkeling trip...
2465    take cell phone accidentally make famous talki...
2466    humans become urban species city natural habit...
Name: transcript, Length: 2467, dtype: object

In [26]:
print(data['transcript'].apply(lambda x: len(x.split(' '))).sort_values()[:20])

2301     1
1796     1
2000     1
146      1
908      1
1919     1
1173     1
1365     1
304      9
574     10
1105    41
266     42
1305    50
841     53
765     57
923     63
1890    64
760     64
85      67
381     78
Name: transcript, dtype: int64

In [29]:
data[data['transcript'].apply(lambda x: len(x.split(' '))) == 41].transcript.values

array(['today going talk unexpected discovery work solar technology industry small startup looking force environment pay attention pay attention crowd source quick video huh hang moment might take moment load skip skip video instead okay solar technology oh time okay thank much'],
      dtype=object)

In [30]:
data = data[data['transcript'].apply(lambda x: len(x.split(' '))) >= 41]

In [31]:
len(data)

2457

In [34]:
tfidf = sklearn.feature_extraction.text.TfidfVectorizer(min_df = 2)  
corpus_tfidf = tfidf.fit_transform(data['transcript'].values)

In [41]:
#Function for sorting tf_idf in descending order
from scipy.sparse import coo_matrix
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)
 
def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
 
    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])
 
    #create a tuples of feature,score
    #results = zip(feature_vals,score_vals)
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results

doc = data['transcript'][0]
#sort the tf-idf vectors by descending order of scores
sorted_items=sort_coo(tfidf.transform([data['transcript'][0]]).tocoo())
#extract only the top n; n here is 10
keywords=extract_topn_from_vector(tfidf.get_feature_names(),sorted_items,10)
 
# now print the results
print("\nAbstract:")
print(doc[:500],'...')
print("\nKeywords:")
for k in keywords:
    print(k,100*keywords[k]**2,'%')
print('\nTags')
print(data['tags'][0])

Abstract:
good morning great blow away whole thing fact leaving three theme running conference relevant want talk one extraordinary evidence human creativity presentation people variety range second put us place idea going happen terms future idea may play interest education actually find everybody interest education find interest dinner party say work education actually often dinner party frankly work education ask never ask back curiously strange say somebody know say say work education see blood run fa ...

Keywords:
education 9.7344 %
gillian 7.452900000000001 %
say 3.7636000000000003 %
think 2.56 %
stratford 2.4336 %
ballet 2.2201 %
shakespeare 1.8225000000000002 %
lynne 1.4641 %
dance 1.3456000000000001 %
educate 1.2769000000000001 %

Tags
['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']

In [42]:
with open(path.expanduser('~/work/test/tfidf/tfidf.pkl'), 'wb') as output:
    pickle.dump(tfidf, output, pickle.HIGHEST_PROTOCOL)

In [33]:
with open(path.expanduser('~/work/data/data.pkl'), 'wb') as output:
    pickle.dump(data, output, pickle.HIGHEST_PROTOCOL)